* {
	color: black;
	font-family: "Georgia", sans-serif;
}

body {
	text-color: black;
	align-items: center;
	text-align: center;
	background: url(https://i.pinimg.com/736x/81/b6/b1/81b6b1ff3bdfb45dba6415b2ff3f05ba.jpg);
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
}

.div {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
}

.header {
	max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
}




